/* basic reset */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom properties */
:root{
    --dark-green: #4A5759;
    --light-green: #B0C4B1;
    --tan: #DEDBD2;
    --peach: #F7E1D7;
    --blush: #EDAFB8;
}

/* global styles */
html{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}
body{
    background-color: var(--dark-green);
    max-width: 50rem;
    position: relative;
    margin: auto;
    padding-top: 5rem;
}
a{
    text-decoration: none;
    color: inherit;
}

/* header styles */
header{
    margin-bottom: 4rem;
}
header h1{
    font-size: 3.6rem;
    color: var(--tan);
}

/* form style */
/* --dark-green: #4A5759;
    --light-green: #B0C4B1;
    --tan: #DEDBD2;
    --peach: #F7E1D7;
    --blush: #EDAFB8; */
form{
    height: 4rem;
}
.todo-input, .todo-button{
    height: 4rem;
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1.4rem;
}
.todo-input{
    width: 100%;
    background-color: var(--tan);
    position: relative;
}
.todo-button{
    position: absolute;
    width: 4rem;
    right: 0;
    font-size: 2.5rem;
    color: var(--dark-green);
    background-color: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}
.todo-button:hover{
    cursor: pointer;
    opacity: .8;
    font-size: 2.6rem;
}


